.idea/
venv/
venv3/
src/notebook/.ipynb_checkpoints/
*.pyc

# See cat_dog_kaggle/generate_dataset.py and
# cat_dog_kaggle/get_bottleneck_features.py to generate these data
src/cat_dog_kaggle/model/*

# See codalab/generate_dataset.py and
# codalab/get_bottleneck_features.py to generate these data
src/codalab/model/*

# See codalab/generate_dataset.py and
# codalab/get_bottleneck_features.py to generate these data
src/codalab/model/*

src/data/*
